.trade {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px;

    background-color: #272727;

    border-radius: 0 0 10px  10px ;

    .row {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .text-error {
        color: red;
        padding-left: 6px;
        font-size: 10px;
    }

    .msg {
        padding-left: 6px;
        font-size: 10px;
        color: white;
    }

    input {
        height: 40px;
        text-align: end;
        border-radius: 6px; 
        padding: 0 8px;
        width: 100%;
    }

    .balance {
        color: white;
        margin-right: 8px;
    }

    .token {
        display: flex;
        gap: 8px;
        margin-left: 8px;
        padding: 4px 8px;

        color: white;

        .flecha-abajo {
            display: flex;
            align-items: center;
            svg {
                height: 18px;
                width: 18px;
                margin: auto 0;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(75, 75, 75);
            border-radius: 6px;
        }
    }

    .arrow {
        display: flex;
        justify-content: center;
        .circle {
            height: 30px;
            width: 30px;
            border-radius: 15px;
            background-color: rgb(95, 180, 255);

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgb(137, 197, 250);
                cursor: pointer;
            }

            svg {
                height: 24px;
                width: 24px;
            }
        }
    }

    .recipient-address {
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .checkbox-container {
            display: flex;
            justify-content: center;
    
            span {
                color: white;
            }
        }

        .address {
            display: flex;
            justify-content: center;

            
        }
        
    }

    .trade-button {
        .button {
            margin: 0 auto 12px;
            width: 85%;
            max-width: 85%;
        }
    }

    
    
}