.container {
    list-style-type: none;
    height: 120px;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    
    .item {
        width: 100%;
        text-decoration: none;
        height: 100%;
        font-weight: 500;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;  

        &:last-child{
            margin-right: 12px;
        }

    

        svg {
            height: 24px;
            width: 24px;
        }

              

    }

    .selected {
        background-color: white;

    }
}

.credits {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    .text {
        text-align: center;
        color: white;
        font-size: 12px;
        font-style: italic;
    }

    .logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
    }
}

