.nav-tab-container {
    display: flex;
    flex-direction: column;

    .nav {
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        min-width: 350px;
        max-width: 450px;
        height: 30px;
    }

    .content {
        width: 75%;
        min-width: 350px;
        max-width: 450px;
        margin: auto;
    }

}